.App {
  text-align: center;
    height: 100vmax;
}

.search-label {
  color: white;
}

.search-button {
  font-size: large;
  border-radius: 8px;
  display: inline-block;
  background-color: white;
}

.save-search-button {
  display: inline-block;
  border-radius: 8px;
  background-color: white;
  font-size: large;
}