.articles {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    background-color: rgba(148, 177, 204, 0.5);
    width: 25%;
}

.articles > h6 {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.articles > a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.articles > a:hover,
.articles > a:active {
    color: rgb(114, 0, 80);
    text-decoration: underline;
}